.row {
    align-items: center;
    display: flex;
    flex-direction: row;
    vertical-align: middle;
}

.row-mt {
    align-items: center;
    display: flex;
    flex-direction: row;
    vertical-align: middle;
}

.row-mt {
    margin: 1rem 0.5rem;
}