.storage-history {
    align-items: center;
   display: flex;
   justify-content: center;
   margin: 2rem 0;

}

.storage-history__daily {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #adbabe;
    width: 60rem;
    
}


.storage-history__daily span {
   color: #f50057;
}

.storage-history__monthly {
   @extend .storage-history__daily;
}

.storage-history__balance {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 4px;
    margin: 1.3rem 0;
}


.storage-history__balance > * {
    margin: 0 7px;
}


.storage-history__table {
    text-align: center;
}





