
.storage-page__actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

.storage-page__actions-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 27px;
    margin: 0;
    margin-top: 2.5rem;

}



.storage-page__actions-main > * {
    margin: 0 14px;
}

.storage-page__actions-secondary {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 7px;
}

.storage-page__actions-secondary > * {
    margin: 0 1rem;
}

.error.text {
    font-family: italic;
    color: red;
}