.profile {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 25px;

}

.profile-top__btn {
    margin-top: 7px;
    width: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}